body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
}

button {
  background-color: #000 !important;
  max-width: fit-content;
  max-height: fit-content;
  padding: 0;
}
.nav-menu {
  display: none;
  background-color: #000;
  height: 2rem;
  /* display: none; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 1rem;
  max-width: 100rem;
}

.popular_card {
  border: 1px solid #ccc;
  text-align: center;
  height: 25rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 5cm 0 0 0;
  display: flex;
  flex-direction: column; /* Arrange title and button in a column */
  justify-content: center;
  align-items: center;
}

.popular_card:hover .overlay {
  height: 100%;
  opacity: 1;
}

.image {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.watch-button {
  background-color: #666;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 8px 15px;
  transition: background-color 0.3s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
  background-image: linear-gradient(to right, #000 50%, #666 50%);
  font-size: 1.3rem;
}

.watch-button:hover {
  background-position: left bottom;
  background-color: #000;
  color: #fff;
}

h1 {
  text-align: center;
}

.homepage {
  background-color: black;
  overflow: hidden;
}

.logo {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  margin: 1rem;
}

.hero-section {
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between; */
  height: 80vh;
}

.hero-texts {
  color: #dee2e6;
  margin-bottom: 5rem;
  width: min-content;
}
.hero-title {
  white-space: pre-line;
}

.hero-links {
  display: flex;
  margin: 2rem;
}

.hero-links a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 2rem;
}

.left-image {
  /* margin-bottom: 50rem; */
  position: absolute;
  top: 15%;
  right: 5%;
  /* transform: translateY(-20%); */
  height: 100%;
  width: 50%;
  /* height: 10%; */
  overflow: hidden;
  object-fit: contain;
  /* background-color: #ffb703; */
}

.left-image img {
  /* margin-bottom: 4rem;
  height: 45rem;
  width: 55rem;
  margin: 3rem; */
  height: 80vh;
  width: 60vw;
  /* position: absolute;
  top: 100; */
}

.hero-title {
  font-size: 3.5rem;
  position: absolute;
  top: 18rem;
  margin: 2rem;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffd60a;
  color: white;
  text-decoration: none;
  margin: 10px;
  border-radius: 2cm; /* Set border radius to 2cm */
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 15px #ffb703; /* Add the box shadow */
}

.hero-button:hover {
  background-color: #ffc300; /* Change background color on hover */
}

.navbar {
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 1.5); /* Add the box shadow */
}

.category {
  font-size: 4rem;
  margin-left: 7rem;
  color: yellow;
  padding: 1rem;
}

.logo-anime {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  margin: 1rem;
}

.anime-list-page {
  background-color: #000;
}

.nav {
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 1.5); /* Add the box shadow */
  display: flex;
  justify-content: space-between;
}

.category-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
}

.category-links .nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  margin: 1rem;
}

.category-links .nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  margin: 1rem;
  position: relative; /* Add relative positioning to create a reference for the pseudo-element */
}

.category-links .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Height of the underline */
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out; /* Add a smooth transition effect */
}

.category-links .nav-link:hover::before {
  width: 100%; /* Expand the underline to 100% on hover */
}

/* Add a media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .nav {
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 1.5); /* Add the box shadow */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Hide the navigation links on larger screens */

  .nav-menu {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 10%;
  }

  .logo-anime {
    position: absolute;
    top: 7%;
    margin-bottom: 10vh;
  }

  .category {
    margin: 15vh 10% 10vh 10%;

    padding: auto;
  }

  .category-links {
    display: none;
  }

  .phone-onn {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
  }

  /* Add styles for the "FaBars" icon button */
  .menu-button {
    display: block; /* Display the button on smaller screens */
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
}

/* Media query for iPhone 375x667 */
@media (max-width: 375px) and (max-height: 667px) {
  .left-image {
    display: none; /* Hide the left image */
  }

  /* Adjust other styles as needed for smaller screens */
  .hero-title {
    font-size: 2.5rem;
    position: absolute;
    top: 8rem;
  }

  .hero-section {
    display: flex;
    align-items: flex-end;
  }

  .hero-links {
    position: absolute;
    top: 20rem;
    display: flex;
    flex-direction: column;
  }
  .left-image {
    display: none !important; /* Hide the left image */
  }

  /* You can add more specific styles for smaller screens here */
}

/* Media query for iPhone XR 414x896 */
@media (max-width: 414px) and (max-height: 896px) {
  .left-image {
    display: none; /* Hide the left image */
  }

  /* Adjust other styles as needed for iPhone XR */
  .hero-title {
    font-size: 2.8rem; /* Increase font size for iPhone XR */
    top: 14rem; /* Adjust top position */
    left: 4rem;
  }

  .hero-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .hero-links {
    position: absolute;
    top: 28rem; /* Adjust top position */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
  }

  /* You can add more specific styles for iPhone XR here */
}

@media (max-width: 412px) and (max-height: 915px) {
  .left-image {
    display: none; /* Hide the left image */
  }

  /* Adjust other styles as needed for Samsung Galaxy S20 Ultra */
  .hero-title {
    font-size: 3rem; /* Increase font size for Samsung Galaxy S20 Ultra */
    top: 10rem; /* Adjust top position */
  }

  .hero-section {
    display: flex;
    align-items: flex-end;
  }

  .hero-links {
    position: absolute;
    top: 26rem; /* Adjust top position */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: 3rem;
  }

  /* You can add more specific styles for Samsung Galaxy S20 Ultra here */
}
/* Add styles for the "FaBars" icon button */
.menu-button {
  display: block; /* Display the button on smaller screens */
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Hide the "FaBars" icon on screens larger than 768px */
.menu-button {
  display: none;
}
